*{
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.container {
  display: inline-block;
  position: relative;
  background-color: rgb(218,241,251);
  color:rgb(36,115,189);
  border: 2px solid rgb(153, 221, 250);
  border-radius: 8px;
  width: 300px;       
  min-height: 200px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  cursor:pointer;
}

.container h4 {
  text-transform: uppercase;
  line-height: 40px;
  border-bottom: 2px solid rgb(36,115,189);
  margin-bottom:0;
}

.container aside {
  position:absolute;
  width: 230px;
  right:0;
  margin: 0 -65px 0 0;
}

.container aside p{
  background-color:  rgb(36,115,189);
  text-transform: uppercase;
  background-image:linear-gradient(rgb(36,115,189), white, rgb(36,115,189) ); 
  color: rgb(36,115,189);
  font-weight: bold;
  text-align: center;
  padding: 10px 80px 10px 80px;
  margin:0;
  transform:rotate(45deg);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}